<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.BoardDao">
  <insert id="insertBoard" parameterType="BoardDTO">
    INSERT INTO board (title, content, writer, created_at, file_name, original_file_name)
    VALUES (#{title}, #{content}, #{writer}, NOW(), #{fileName}, #{originalFileName})
  </insert>

  <select id="selectBoardList" resultType="BoardDTO">
    SELECT * FROM board
    <where>
      <if test="keyword != null and keyword != ''">
        AND title LIKE CONCAT('%', #{keyword}, '%')
      </if>
    </where>
    ORDER BY created_at DESC
  </select>

  <select id="selectBoard" resultType="BoardDTO">
    SELECT * FROM board WHERE id = #{id}
  </select>

  <update id="updateBoard" parameterType="BoardDTO">
    UPDATE board
    SET title = #{title}, content = #{content}
    WHERE id = #{id}
  </update>

  <delete id="deleteBoard">
    DELETE FROM board WHERE id = #{id}
  </delete>
</mapper>